Assignment5Application/Connected Services/ivanService/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://webstrar8.fulton.asu.edu/Page0/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://webstrar8.fulton.asu.edu/Page0/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://webstrar8.fulton.asu.edu/Page0/Service1.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAssignment6Service_Weather5Day_InputMessage">
    <wsdl:part name="parameters" element="tns:Weather5Day" />
  </wsdl:message>
  <wsdl:message name="IAssignment6Service_Weather5Day_OutputMessage">
    <wsdl:part name="parameters" element="tns:Weather5DayResponse" />
  </wsdl:message>
  <wsdl:message name="IAssignment6Service_NewsFocus_InputMessage">
    <wsdl:part name="parameters" element="tns:NewsFocus" />
  </wsdl:message>
  <wsdl:message name="IAssignment6Service_NewsFocus_OutputMessage">
    <wsdl:part name="parameters" element="tns:NewsFocusResponse" />
  </wsdl:message>
  <wsdl:message name="IAssignment6Service_tempConverter_InputMessage">
    <wsdl:part name="parameters" element="tns:tempConverter" />
  </wsdl:message>
  <wsdl:message name="IAssignment6Service_tempConverter_OutputMessage">
    <wsdl:part name="parameters" element="tns:tempConverterResponse" />
  </wsdl:message>
  <wsdl:message name="IAssignment6Service_sortingService_InputMessage">
    <wsdl:part name="parameters" element="tns:sortingService" />
  </wsdl:message>
  <wsdl:message name="IAssignment6Service_sortingService_OutputMessage">
    <wsdl:part name="parameters" element="tns:sortingServiceResponse" />
  </wsdl:message>
  <wsdl:message name="IAssignment6Service_currentConversionService_InputMessage">
    <wsdl:part name="parameters" element="tns:currentConversionService" />
  </wsdl:message>
  <wsdl:message name="IAssignment6Service_currentConversionService_OutputMessage">
    <wsdl:part name="parameters" element="tns:currentConversionServiceResponse" />
  </wsdl:message>
  <wsdl:portType name="IAssignment6Service">
    <wsdl:operation name="Weather5Day">
      <wsdl:input wsaw:Action="http://tempuri.org/IAssignment6Service/Weather5Day" message="tns:IAssignment6Service_Weather5Day_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAssignment6Service/Weather5DayResponse" message="tns:IAssignment6Service_Weather5Day_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NewsFocus">
      <wsdl:input wsaw:Action="http://tempuri.org/IAssignment6Service/NewsFocus" message="tns:IAssignment6Service_NewsFocus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAssignment6Service/NewsFocusResponse" message="tns:IAssignment6Service_NewsFocus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="tempConverter">
      <wsdl:input wsaw:Action="http://tempuri.org/IAssignment6Service/tempConverter" message="tns:IAssignment6Service_tempConverter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAssignment6Service/tempConverterResponse" message="tns:IAssignment6Service_tempConverter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="sortingService">
      <wsdl:input wsaw:Action="http://tempuri.org/IAssignment6Service/sortingService" message="tns:IAssignment6Service_sortingService_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAssignment6Service/sortingServiceResponse" message="tns:IAssignment6Service_sortingService_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="currentConversionService">
      <wsdl:input wsaw:Action="http://tempuri.org/IAssignment6Service/currentConversionService" message="tns:IAssignment6Service_currentConversionService_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAssignment6Service/currentConversionServiceResponse" message="tns:IAssignment6Service_currentConversionService_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAssignment6Service" type="tns:IAssignment6Service">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Weather5Day">
      <soap:operation soapAction="http://tempuri.org/IAssignment6Service/Weather5Day" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewsFocus">
      <soap:operation soapAction="http://tempuri.org/IAssignment6Service/NewsFocus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="tempConverter">
      <soap:operation soapAction="http://tempuri.org/IAssignment6Service/tempConverter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sortingService">
      <soap:operation soapAction="http://tempuri.org/IAssignment6Service/sortingService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="currentConversionService">
      <soap:operation soapAction="http://tempuri.org/IAssignment6Service/currentConversionService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IAssignment6Service" binding="tns:BasicHttpBinding_IAssignment6Service">
      <soap:address location="http://webstrar8.fulton.asu.edu/Page0/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>