Assignment5Application/Connected Services/chrisService/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://webstrar8.fulton.asu.edu/Page3/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://webstrar8.fulton.asu.edu/Page3/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://webstrar8.fulton.asu.edu/Page3/Service1.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_getCrimeData_InputMessage">
    <wsdl:part name="parameters" element="tns:getCrimeData" />
  </wsdl:message>
  <wsdl:message name="IService1_getCrimeData_OutputMessage">
    <wsdl:part name="parameters" element="tns:getCrimeDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_isPalindrome_InputMessage">
    <wsdl:part name="parameters" element="tns:isPalindrome" />
  </wsdl:message>
  <wsdl:message name="IService1_isPalindrome_OutputMessage">
    <wsdl:part name="parameters" element="tns:isPalindromeResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getStockData_InputMessage">
    <wsdl:part name="parameters" element="tns:getStockData" />
  </wsdl:message>
  <wsdl:message name="IService1_getStockData_OutputMessage">
    <wsdl:part name="parameters" element="tns:getStockDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getDefinition_InputMessage">
    <wsdl:part name="parameters" element="tns:getDefinition" />
  </wsdl:message>
  <wsdl:message name="IService1_getDefinition_OutputMessage">
    <wsdl:part name="parameters" element="tns:getDefinitionResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="getCrimeData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getCrimeData" message="tns:IService1_getCrimeData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getCrimeDataResponse" message="tns:IService1_getCrimeData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="isPalindrome">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/isPalindrome" message="tns:IService1_isPalindrome_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/isPalindromeResponse" message="tns:IService1_isPalindrome_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getStockData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getStockData" message="tns:IService1_getStockData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getStockDataResponse" message="tns:IService1_getStockData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getDefinition">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getDefinition" message="tns:IService1_getDefinition_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getDefinitionResponse" message="tns:IService1_getDefinition_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getCrimeData">
      <soap:operation soapAction="http://tempuri.org/IService1/getCrimeData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isPalindrome">
      <soap:operation soapAction="http://tempuri.org/IService1/isPalindrome" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStockData">
      <soap:operation soapAction="http://tempuri.org/IService1/getStockData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDefinition">
      <soap:operation soapAction="http://tempuri.org/IService1/getDefinition" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://webstrar8.fulton.asu.edu/Page3/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>